.container {
  padding: 40px;

  form {
    background: rgb(216, 230, 236);
    width: 400px;

    mat-form-field {
      width: 400px;
    }

    .search-input {
      width: 400px !important;
      font: {
        family: serif;
        weight: bold;
        size: 1em;
      }
    }
  }

  mat-card {
    max-width: 600px;

    mat-card-title {
      text-align: left;
    }

    mat-card-subtitle {
      text-align: left;
    }
  }
}
