<div style="text-align: center">
  <h1>Search geo.api.gouv.fr using address autocomplete</h1>
</div>

<form class="search-form">
  <mat-form-field class="search-full-width">
    <input
      type="text"
      placeholder="Type street name or town"
      aria-label="Number"
      matInput
      [formControl]="formControl"
      [matAutocomplete]="auto"
    />
    <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
      <mat-option *ngIf="isLoading" class="is-loading"
        ><mat-spinner diameter="40"></mat-spinner
      ></mat-option>
      <ng-container *ngIf="!isLoading">
        <mat-option *ngFor="let option of options" [value]="option">
          {{ displayFn(option) }}
        </mat-option>
      </ng-container>
    </mat-autocomplete>
  </mat-form-field>
</form>

<pre>
  isLoading : {{ isLoading }},
  selectedAddress : {{ formControl.value | json }}
  options: {{ options | json }}
</pre>
<p>isLoading : {{ isLoading }}</p>
  <p>selectedAddress : {{ formControl.value | json }}</p>
  <p>options: {{ options | json }}</p>
